*.gbl binary
*.gbs binary
*.gbo binary
*.gbr binary
*.gtl binary
*.gts binary
*.gto binary
*.cmp binary
*.kicad_pcb binary
*.lst binary
*.net binary
*.pro binary
*.sch binary
*.lib binary
*.zofzproj binary
*.pdf binary
*.png binary
*.zip binary
*.exe binary
